@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Inter:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ramona";
    src: url("/fonts/Ramona-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
  }
  p {
    @apply text-black font-inter;
  }
  h2 {
    @apply pb-4 text-5xl font-black text-black font-inter;
  }
  h3 {
      @apply pb-4 text-5xl font-black text-black font-inter;
  }
  section {
    @apply mx-8 my-20 md:mx-24;
  }
}

@layer components {
  .card {
    @apply p-4 mx-4 my-4 bg-gray-200 rounded-lg;
  }
}
