@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&family=Inter:wght@400;500;600;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Ramona";
    src: url("/fonts/Ramona-Bold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
  }
  p {
    @apply font-inter text-black;
  }
  h2 {
    @apply font-inter font-black text-5xl text-black;
  }
  section {
    @apply my-20 mx-8 md:mx-24;
  }
}
